{% extends "app/index.html" %}
{% block table %}
    <table class="table table-striped jambo_table bulk_action">
        <a href="{% url 'domainsite_add' %}" class="btn btn-sm btn-warning">添加域名商</a>
        <thead>
        <tr class="headings">
            <th class="column-title">名称</th>
            <th class="column-title">URL</th>
            <th class="column-title">创建时间</th>
            <th class="column-title">修改时间</th>
            <th class="column-title">操作</th>
            <th class="column-title">管理nameserver</th>
        </tr>
        </thead>

        <tbody>
        {% for obj in all_obj %}
            <tr class="even pointer">
                <td class=" ">{{ obj.name }}</td>
                <td class=" ">{{ obj.url }}</td>
                <td class=" ">{{ obj.ctime }}</td>
                <td class=" ">{{ obj.mtime }}</td>
                <td class=" ">
                    <a href="{% url 'domainsite_edit' obj.id %}" class="btn btn-sm btn-warning">编辑</a>
                    <a href="{% url 'domainsite_del' obj.id %}" class="btn btn-sm btn-danger">删除</a>
                </td>
                <td class=" "><a href="{% url 'nameserver_list' obj.id %}" class="btn btn-sm btn-success">管理</a></td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock table %}
